  <!--Bottom part-->
  <footer>
    <nav class="navbar fixed-bottom style01">
      <div class="container-fluid"> 
        <a style="font-size: small;">&copy;copyrights reserved by Manav_Sharma :)2023</a>
      </div>
    </nav>
  </footer>
