<% include partials/header.ejs %>

    <% include partials/main_nav.ejs %>

        <main>


            <div class="container-fluid">
                <div class="row">
                    <div class="col col-4">
                        <a><img src="/Assets/images/intro.gif" class="img-fluid mx-auto d-block"
                                style="width: 1500px; height: 585px;" alt="my intro"></a><br>
                        <div style="background-color: #664131;border-radius: 15px;">
                            <h1 style="color: #f9b699;font-size: x-large;">&nbsp;&nbsp;Here is my resume to connect with me...</h1>
                        </div>
                        <a href="https://drive.google.com/file/d/1PTeZKoSquainQlrvjHpbYxhoSxXDD5Vd/view?usp=drivesdk" target="_blank"><img
                                src="/Assets/images/resume.png" style="height: 105px;width: 70px;"
                                alt="resume">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit"
                                style="background-color: #e0baa8; border-radius: 25%;width: 130px;height: 45px;color: #664131;"><i class="fa fa-file"></i>&nbsp;Resume</button></a>
                    </div>
                    <div class="col col-8 " style="width: 1000px;">
                        <a><img src="/Assets/images/intro2.png" class="img-fluid mx-auto d-block"
                                style="height: 900px; width: 700px;" alt="my intro"></a>

                    </div>
                </div>
            </div>


        </main>

        <% include partials/bottom_nav.ejs %><br>

            <% include partials/footer.ejs %>