<% include partials/header.ejs %>

  <% include partials/main_nav.ejs %>



    <main>

      <div>
        <a><img src="/Assets/images/welcome.png" class="img-fluid mx-auto d-block w3-hover-sepia"
            style="width: 1512px; height: 585px;" alt="welcome"></a>
      </div>

      <div class="container" style="padding-top: 10px;">
        <div class="row"
          style="font-size: xx-large; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #533123;">
          To know more about me :</div><br>

        <div class="container px-5">
          <div style="text-align: center;">
          <div class="row gx-3">
            <div class="col" >
              <div class="p-3 border  w3-round-large"
                style="background-color: #533123; width: 145px;  text-align: center;"><a href="/about"
                  class="style03">About Me</a></div>
            </div>
            <div class="col">
              <div class="p-3 border  w3-round-large"
                style="background-color: #533123;width: 145px;text-align: center;"><a
                  href="/projects" class="style03">My Projects</a></div>
            </div>
          </div></div>
        </div><br>
        <hr>
        <hr><br>

        <div class="container" style="padding-top: 10px;">
          <div class="row"
            style="font-size: xx-large; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #533123;">
            We provide these services :</div><br>

          <div class="container px-5">
            <div class="row gx-3">
              <div class="col">
                <div class="p-3 border  w3-round-large"
                  style="background-color: #533123; height: 85px; width: 145px;  text-align: center;"><a
                    href="/mobileApps" class="style03">Mobile Apps</a></div>
              </div>
              <div class="col" >
                <div class="p-3 border  w3-round-large"
                  style="background-color: #533123; width: 145px;  text-align: center;"><a
                    href="/webDevelopment" class="style03">Web Development</a></div>
              </div>
              <div class="col">
                <div class="p-3 border  w3-round-large"
                  style="background-color: #533123;width: 145px;  text-align: center;"><a
                    href="/technicalSupport" class="style03">technical Support</a></div>
              </div>
            </div>
          </div>
          

          <div class="style04 container container-fluid">
            <h1>OUR MISSION :</h1>
            <p>"At MS v.2.0, our mission is to empower individuals and businesses by providing the latest insights and
              practical knowledge in technology. We believe in the transformative power of innovation to drive positive
              change in our digital world, catering to IT professionals, developers, gadget enthusiasts, and business
              leaders alike."</p>
            <ul>
              <li>We are dedicated to providing top-notch customer service that exceed industry standards.</li>
              <li>We recognize the ethical considerations that come with advancing technology. We are committed to
                addressing ethical questions and promoting responsible tech use.</li>
            </ul>
            <p>"Join us in exploring the boundless potential of technology and its impact. Together, we'll navigate the
              evolving digital landscape, working towards a connected, innovative, and sustainable future."</p>
          
            </div>

    </main>

    <% include partials/bottom_nav.ejs %><br>

      <% include partials/footer.ejs %>