<% include partials/header.ejs %>
<body style="background-color: #C59681;;">
<div class="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>
</body>
<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>

