<main>

    <div class="w3-panel w3-border w3-round-large" style="background-color: #ffe3d1;">
        <div class="row" style="text-align: center;">
            <h1 style="font-family: fantasy; color: #310a0a;"><b><%- intro %></b></h1>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/insta.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="instagram">
                        <div class="card-body">
                            <h3 class="card-title">Instagram</h3>
                            <p class="card-text">Instagram is a free photo and video sharing app available on iPhone and
                                Android. People can upload photos or videos to our service and share them with their
                                followers or with a select group of friends. They can also view, comment and like posts
                                shared by their friends on Instagram.</p><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/linkedin.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="linkedin">
                        <div class="card-body">
                            <h3 class="card-title">LinkedIn</h3>
                            <p class="card-text">LinkedIn is the world's largest professional network on the internet.
                                You can use LinkedIn to find the right job or internship, connect and strengthen
                                professional relationships, and learn the skills you need to succeed in your career.</p>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/whatsapp.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="instagram">
                        <div class="card-body">
                            <h3 class="card-title">Whatsapp</h3>
                            <p class="card-text">WhatsApp is a popular messaging application that allows users to send
                                text messages, make voice and video calls, and share media such as images and videos
                                with other WhatsApp users over the internet. It's available on various platforms,
                                including smartphones and computers, and is widely used for personal and business
                                communication.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/github.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="github">
                        <div class="card-body">
                            <h3 class="card-title">GitHub</h3>
                            <p class="card-text">GitHub is an online software development platform. It's used for
                                storing, tracking, and collaborating on software projects. It makes it easy for
                                developers to share code files and collaborate with fellow developers on open-source
                                projects.</p><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/chrome.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="chrome">
                        <div class="card-body">
                            <h3 class="card-title">Chrome</h3>
                            <p class="card-text">Google Chrome browser is a free web browser used for accessing the
                                internet and running web-based applications. The Google Chrome browser is based on the
                                open source Chromium web browser project. Google released Chrome in 2008 and issues
                                several updates a year.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/mail.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="mail">
                        <div class="card-body">
                            <h3 class="card-title">Mail</h3>
                            <p class="card-text">The mail is the public service or system by which letters and parcels
                                are collected and delivered.</p><br><br><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>