<main>
    <div class="w3-panel w3-border w3-round-large" style="background-color: #ffe3d1;">
        <div class="row" style="text-align: center;">
            <h1 style="font-family: fantasy; color: #310a0a;"><b><%- intro %></b></h1>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/youtube.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="youtube">
                        <div class="card-body">
                            <h3 class="card-title">You Tube</h3>
                            <p class="card-text">YouTube is a video sharing service where users can watch, like, share,
                                comment and upload their own videos. The video service can be accessed on PCs, laptops,
                                tablets and via mobile phones.</p><br><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/amazon.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="amazon">
                        <div class="card-body">
                            <h3 class="card-title">Amazon</h3>
                            <p class="card-text">Originally started as an online bookselling company, Amazon has morphed
                                into an internet-based business enterprise that is largely focused on providing
                                e-commerce, cloud computing, digital streaming and artificial intelligence (AI)
                                services.</p>
                 <br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/bcc.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="bcc">
                        <div class="card-body">
                            <h3 class="card-title">BCC - news</h3>
                            <p class="card-text">The BBC News website is the internet arm of the biggest broadcasting
                                newsgatherer in the world. It launched in November 1997 and has since published more
                                than two million full multimedia news pages, all but a handful of which are still
                                available from the site's search engine (top right of almost every page).</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/netflix.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="netflix">
                        <div class="card-body">
                            <h3 class="card-title">Netflix</h3>
                            <p class="card-text">Netflix is a streaming service that offers a wide variety of
                                award-winning TV shows, movies, anime, documentaries, and more on thousands of
                                internet-connected devices.</p><br>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/spotify.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="spotify">
                        <div class="card-body">
                            <h3 class="card-title">spotify</h3>
                            <p class="card-text">Spotify is a digital music, podcast, and video service that gives you
                                access to millions of songs and other content from creators all over the world. Basic
                                functions such as playing music are totally free, but you can also choose to upgrade to
                                Spotify Premium.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">

                <div class="card h-100">
                    <div class="style06">
                        <img src="/Assets/images/chatgpt.png" style="height: 200px; width: 200px;" class="card-img-top"
                            alt="chatgpt">
                        <div class="card-body">
                            <h3 class="card-title">Chatgpt</h3>
                            <p class="card-text">ChatGPT is an artificial intelligence (AI) chatbot that uses natural
                                language processing to create humanlike conversational dialogue. The language model can
                                respond to questions and compose various written content, including articles, social
                                media posts, essays, code and emails.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>